* {
  bacground-color: #000000;
}

.card {
  --bs-card-spacer-y: 0.2rem;
  --bs-card-spacer-x: 0.3rem;
}

.time {
  font-size: 40pt;
}

.checkbox {
  font-size: 30pt;
  padding-top: 10pt;
  right:0px;
  top:0px;
  z-index: 100;
  position: absolute;
}

.form-switch.form-check-reverse {
  padding-right: 2.9em;
}

.plus_button {
  float: right;
  cursor: pointer;
}

.edit_button {
  cursor: pointer;
  border: 0px solid #ccc;
}

.modal-header {
  padding:0.2em;
}

.cancel-button {
  float: left;
  /* cursor: pointer;
  left:0px;
  top:0px;
  padding-top:0px; */
}

.save-button {
  float: right;
  /* cursor: pointer;
  right:0px;
  top:0px;
  position: absolute; */
}

.modal-title {
  text-align: center;
  cursor: default;
  left: auto;
  right: auto;
  top: 0px;
}

.modal-body {

}

input.week[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 9px;
  margin-bottom: 15px;
}
label.week {
  padding-left:9px;
}

.form-check-inline {
  margin-right: 0.5rem;
}
